---
---
$breakWidgh: 900px;
$breakHeight: 825px;
:root {
    --console-bg-color: white;
    --console-width: 60%;
    --console-link-color: #0bc;
}
@font-face {
    src: url(../../fonts/LUCASIT.ttf);
    font-family: lucidacas;
}
.blured-bg {
	/* background-color: var(--console-bg-color); */
    filter: blur(10px);
    box-sizing: border-box;
    position: fixed;
    top: -10%;
    left: -10%;
    width: 200%;
    height: 200%;
    z-index: -1;
}
#console {
	font-family: courier, monospace;
	color: dodgerblue;
  font-size: 1.5rem !important;
  font-weight: 900;
	width: var(--console-width);
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
  font-size:14px;
  border: 1px dashed black;
  width: 90%;
  @media screen and (max-width: $breakWidgh) {
    margin-top:50px;
    font-size: 1rem !important;
  }
  @media screen and (max-height: $breakHeight) {
    margin-top:50px;
    font-size: 1rem !important;
  }
}
.rasmi-pic {
    width: 220px;
    height: 220px;
    background-image: url('../media/rasmi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 100%;
    box-shadow: 0px 0px 5px black;
}

.mail {
    font-weight: bold;
    font-family: lucidacas;
    position: fixed;
    font-size: 1rem;
    width: 60%;
    padding: 0;
    margin: 0;
    height: 25px;
    margin: auto;
    left: 40%;
    bottom: 25%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    color: white;
    animation: dash3 2s linear alternate;
    animation-fill-mode: forwards;
    @media screen and (max-width: $breakWidgh) {
      bottom: 15%;
    }
    @media screen and (max-height: $breakHeight) {
      bottom: 15%;
    }
}
.drawing-c {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $breakWidgh) {
      display: none;
    }
    @media screen and (max-height: $breakHeight) {
      display: none;
    }
}
#drawing  {
    display: block;
    position: fixed;
    width:850px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 16s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    /* animation-delay: 5s; */
    margin: auto;
    left: 0;
    right: 0;
}
path {
    animation: dash2 16s linear alternate;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.link-container {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-link2 {
  padding: 3px;
  background-color: dodgerblue;
  color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 3px black;
}
.site-link2 a {
  color: white;
  text-decoration: none;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 650;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
  0% {
    fill: white;
  }
  50% {
    fill: white;
  }
  100% {
    fill: rgba(172, 164, 164, 0.82);
  }
}
@keyframes dash3 {
  from {
    color: white;
  }
  to {
    color: gray;
  }
}
