* {
    margin: 0;
    padding: 0;
}
body {
    color: whitesmoke;
    background-color: midnightblue;
}
.hide-c {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
}
.content {
    display: none;
}
/* developerMode */
/* .hide-c {
    display: none;
}
.content {
    display: block;
} */
/* end */
.per {
    direction: rtl;
}
.p1 {
    padding: 10px;
}
.b {
    border: 1px solid red;
}
.bold {
    font-weight: 900;
}
.head1::before {
    content: "◀️ ";
}
.img1 {
    max-width: 100px;
    max-height: 100px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}
.fullBlock {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding-top: 0;
}